.toggleContainer {
    position: absolute;
    right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle {
        visibility: hidden;

        & + label {
            display: flex;
            align-items: center;
            font-size: 1.5em;
            cursor: pointer;
            color: var(--toggle-color);
            position: relative;

            // add switch button manually
            &:before {
                content: "";
                height: 1em;
                width: 2em;
                background-color: var(--toggle-background-color);
                margin-right: 0.5em;
                border-radius: 2em;
                border: 1px solid var(--toggle-color);
                transition: background-color 250ms ease-in-out;
            }

            // add switch button bullet manually
            &:after {
                content: "";
                height: 0.8em;
                width: 0.8em;
                border-radius: 50%;
                background-color: var(--toggle-color);    
                position: absolute;
                left: 0.2em;
                transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
            }
        }

        &:checked + label:after {
            transform: translateX(100%);
        }
    }
}